
{# agregando layouts #}

{% extends 'layouts/base.html' %}

{% block content %}

<h2>About</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dolor ad accusamus eius impedit sapiente laboriosam quos iste, ducimus omnis veniam pariatur! Modi inventore quasi recusandae eaque quos molestias rerum, tempore doloremque ipsa saepe non delectus odit deleniti, dolor dicta iusto atque ipsum minima itaque earum soluta eius dolorem laboriosam eligendi. Similique quaerat pariatur architecto, ipsa voluptate nulla delectus dolorum provident dolorem explicabo. Beatae, debitis corrupti. Dignissimos, enim debitis. Quisquam obcaecati similique mollitia cumque iusto, perspiciatis corrupti ipsam cupiditate nisi repellat excepturi odit, illo non nobis dolorem deserunt doloribus alias consequatur debitis? Dolore, illo impedit quasi facere quo nobis libero.</p>

<h3>{{username}}</h3>


{% endblock %}